h4 {
  font-size: medium;
  text-align: center;
  position: relative;
  display: block;
  color: white;
}
h1 {
  font-size: large;
  text-align: center;
  position: relative;
  display: block;
  color: white;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
}

form {
}

footer {
  font-size: x-small;
  color: black;
  text-align: center;
  position: relative;
}

.temperature {
  text-align: center;
  color: #212121;
  font-size: 30px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}
.units {
  color: #212121;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  line-height: 1;
  text-align: right;
}

.iconM {
  position: relative;
}
.container {
  padding: 40px;
  display: block;
}
.color-blue {
  background-color: #1a64d6;
  text-align: center;
  display: block;
  padding: 15px 30px;
  font-weight: bold;
}
.color-white {
  background-color: white;
  text-align: center;
  display: block;
  padding: 15px 30px;
  font-weight: bold;
}

.Instagram {
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: black;
}
.Instagram:hover {
  text-decoration: underline;
  color: blueviolet;
}

.weatherDescription {
  color: white;
}

.GithubLink {
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: blueviolet;
}

.GithubLink:hover {
  text-decoration: underline;
  color: black;
}

.active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: underline;
}
